.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: blue;
    margin: 0;
}

.nav a {
    color: yellow;
    text-decoration: none;
    font-size: 24px;
    transition: .5s;
}

.nav a:hover {
    color: #a0a00f;
    font-size: 28px;
}